
.main{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    justify-self: left;
    margin-left: 5vw;
}

.buttons{
    display: flex;
    flex-direction: row;
    
}


.button{
    font-size: 1.2em;
    background: linear-gradient(265.98deg, rgba(76, 157, 143, 0.67) 0%, rgba(104, 218, 180, 0.603) 106.29%);
border-radius: 20px;
border: none;
outline: none;
padding: 10px 20px;
text-align: center;
cursor: pointer;
margin: 3vw;
}
.button2 {
    @extend .button;
    background: #E6E6E6AB;
}

.file{
    background-color: #E6E6E6AB;
    height: 3.3em;
    width: 30vw;
    margin: 20px 0;
    border-radius:20px;
}

h2{
    margin-left: 5px;
}
