.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 7.5vw;
    height: 97.4vh;
    background-color: #43AA88;
}
.button{
    background: none;
    border: none;
    padding: 20px 10px;
    color: white;
    outline: none;
    &:focus{
        background-color: #378d70;
    }
    &:hover{
        cursor: pointer;
    }
}

.img{
    width: 90%;
}