@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');





 .App {
     height:98vh;
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
}

.maindiv{
    width: 80vw;
    height: 66vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 5vh 3vw;
    padding: 5vh 3vw;    
}

.pagesSwitch{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: center;
    align-self: center;
    margin-top: auto;
}

    .button {
        color: #acacac;
        width: 200px;
        border: none;
        border-bottom: solid 4px #6b6b6b;
        border-radius: 4px;
        height: 3px;
        margin: 0px 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        .link {
            color: #6b6b6b00;
            
        }
    }

.pages {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

h4{
    color: #00000080;
    font-weight: 400;
}