.accValidation{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 60vw;
    margin-bottom: auto;
}

.inputs{
    display: flex;
    flex-direction: row;
}

.inputList{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.data {
    background-color: #E6E6E6AB;
    color: #4f4f4f;
    margin: 6px 0px;
    border-radius: 10px;
    padding: 10px  ;
    display: flex;
    align-items: center;
    width: 80%;
}

.img{
    height: 90%;
    margin-left: 10%;
}

