.accValidation{
    display: flex;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: row;
}

.inputList{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: #9E9E9E;

}